
.d-grey {
    background-color: #b8b8b8;
}

.f-white {
    color: white;
}

.card-header {
    background-color: #969fa3 !important;
    color: white!important;
    font-weight: bold;
}
.b-font {
    color: #53a0dd;
    font-weight: bold;
    font-size: 20px;

}
.g-font {
    color: #45b2aa;
    font-weight: bold;
    font-size: 20px;

}
.r-font {
    color: #b64646;
    font-weight: bold;
    font-size: 20px;

}
